<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
	<h1> history </h1>
	<p>
		/likes <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"</li>
			<li>out 200 : { result: [{id, age, firstname, bio, last_visit, gender, searchPreferences, pics, tags, online}, {id, age, firstname, bio, last_visit, gender, searchPreferences, pics, tags, online} ...] }</li>
			<li>out 401 : { message: "Unauthorized 401 : Bad token" }</li>
		</ul>
	</p>
	<p>
		/visits <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"</li>
			<li>out 200 : { result: [{id, age, firstname, bio, last_visit, gender, searchPreferences, pics, tags, online}, {id, age, firstname, bio, last_visit, gender, searchPreferences, pics, tags, online} ...] }</li>
			<li>out 401 : { message: "Unauthorized 401 : Bad token" }</li>
		</ul>
	</p>
	<p>
		searchPreferences = {male: true, female: true, other: true}
	</p>
</body>

</html>
