<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
	<h1> INDEX </h1>
	<p> /accounts/ </p>
	<p> /blocks/ </p>
	<p> /likes/ </p>
	<p> /notifications/ </p>
	<p> /history/ </p>
	<p> /tags/ </p>
	<p> /pics/ </p>
	<p> /visits/ </p>
	<p> /chats/ </p>
	<p> /research/ </p>
	<p> /install : in: {"install_password": "********"} </p>
	<p> /seed : in: {"seed_password": "********", "nb_fake": 1 to 700 }</p>
	<p> get : /test </p>
	<p> get : /test_db </p>
</body>

</html>
