<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
	<h1> likes </h1>
	<p>
		/add <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"<br>{ "id_profil": "1"}</li>
			<li>out 200 : { message: "add like sucsess" }</li>
			<li>out 401 : { message: "Unauthorized 401 : Bad token" }</li>
			<li>out 400 : { message: 'Bad request 400 : add like fail The request had bad syntax or was inherently impossible to be satisfied.' }</li>
			<li>out 401 : { message: "can't add self like" }</li>
			<li>out 401 : { message: "Allready liked" }</li>
			<li>out 401 : { message: "You cant like you must add a pics before" }</li>
		</ul>
	</p>
	<p>
		/remove <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"<br>{ "id_profil": "1"}</li>
			<li>out 200 : { message: "remove like sucsess" }</li>
			<li>out 401 : { message: "Unauthorized 401 : Bad token" }</li>
			<li>out 400 : { message: 'Bad request 400 : remove like fail The request had bad syntax or was inherently impossible to be satisfied.' }</li>
			<li>out 401 : { message: "No like to remove" }</li>
		</ul>
	</p>
</body>

</html>
