<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
	<h1> PASSWORD RESET</h1>
	<p>
		/send_email <br>
		<ul>
			<li>in : { "email": "email@email.com" }</li>
			<li>out 200 : { "message": "OK 200 : send reset password token sucsess" }</li>
			<li>out 400 : { "message": "Bad request 400 : send reset password token fail The request had bad syntax or was inherently impossible to be satisfied." }</li>
			<li>out 401 : { "message": "email doesn't match in database" }</li>
		</ul>
	</p>
	<p>
		/change_password <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"<br>{ <br> "email": "email@email.com",<br> "password": "password" <br> }</li>
			<li>out 200 : { message: 'OK 200 : reset password sucsess' }</li>
			<li>out 400 : { message: 'Bad request 400 : reset password fail The request had bad syntax or was inherently impossible to be satisfied.' }</li>
			<li>out 401 : { message: " email and/or token doesn't match in database" }</li>
		</ul>
	</p>
</body>

</html>
