<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>

<body>
	<h1> Visits </h1>
	<p>
		/add <br>
		<ul>
			<li>in : req.headers['authorization'] = "Bearer jwtoken"<br>{ "id_profil": "1"}</li>
			<li>out 200 : { message: "add visits sucsess"}</li>
			<li>out 401 : { message: "Unauthorized 401 : Bad token" }</li>
			<li>out 400 : { message: "Bad request 400 : add visits fail The request had bad syntax or was inherently impossible to be satisfied." }</li>
			<li>out 401 : { message: "can't add self visit" }</li>
			<li>out 401 : { message: "antispam visit" }</li>
		</ul>
	</p>
</body>

</html>
